<div class="fwmb-tool-content fwmb-scrollable">

    <fieldset class="fwmb-fieldset">
        <legend>{{localize "FILRODENSWMB.UI.Hydrology"}}</legend>

        <div class="form-group">
            <label>{{localize "FILRODENSWMB.UI.RiverDensity"}}</label>
            <div class="fwmb-slider-group">
                <input type="range" name="riverDensity" value="40" min="0" max="150" step="5" oninput="this.nextElementSibling.value = this.value" />
                <output>40</output>
            </div>
        </div>
    </fieldset>

    <div class="fwmb-flex-1"></div>
    <div class="fwmb-divider"></div>

    <button type="button" class="fwmb-btn primary" data-action="toggleEditMode">
        <i class="fwmb-icon brush"></i>
        {{localize "FILRODENSWMB.UI.EditFeatures"}}
    </button>

</div>